.venv/
.env/
.env
__pycache__/
Systems/__pycache__/
Alerts/__pycache__/
Tips/__pycache__/
Utils/__pycache__/
venv/
env/
.vscode/
.wenv/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
